@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-primary-text: var(--primary-text);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-grey: var(--grey);
  --shadow-black: 0 2px 8px rgba(var(--black), 5%);
  --shadow-white: 0 2px 8px rgba(var(--white), 5%);
}

:root,
html[data-theme="light"] {
  --background: #ffff;
  --primary: #60a5fa;
  --purple-soft: rgba(192, 132, 252, 0.25); /* purple-400 */
  --purple-faint: rgba(192, 132, 252, 0.15);
  --primary-text: #16171c;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
  --black: 15, 18, 25;
  --white: 255, 255, 255;
  --grey: #dcdee6;
  --hue: 560;
}

html[data-theme="dark"] {
  --background: #212737;
  --primary: #ff758a;
  --primary-text: #ffff;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
  --black: 15, 18, 25;
  --white: 255, 255, 255;
  --grey: #ffff;
  --hue: 351;
}
@theme {
  --font-inter: "Inter", "sans-serif";
  --font-red-hat-display: "Red Hat Display", "sans-serif";
}

body {
  @apply font-inter text-foreground selection:bg-primary selection:text-background flex min-h-svh flex-col;
  background: var(--background);
}
main {
  @apply mx-auto my-0 mt-[4rem] box-border flex min-h-[100vh] max-w-[1120px] flex-col p-0;
}
h1,
h5 {
  @apply font-red-hat-display;
}

.active-nav {
  @apply !border-b-primary decoration-2 underline-offset-4;
}

img {
  @apply border-none;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  display: none !important;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
