---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "@/layouts/Layout.astro";
import SocialContact from "@/components/SocialContact.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="mx-auto grid grid-cols-1 items-center justify-center gap-4 p-4 sm:grid-cols-2 sm:justify-between lg:gap-[7rem]"
  >
    <div class="w-full">
      <h1 class="text-primary-text mb-4">
        Hello, <span class="text-primary">I’m </span>
      </h1>
      <h1 class="text-primary mb-4">Thang(Dom) Nguyen</h1>
      <h5>A Full-Stack Engineer</h5>
      <p>
        A software engineering in web development. I have experience about developing for TechFin
        company. Here, I share my knowledge and experience about front-end and back-end in web
        development.
      </p>
      <div class="pt-4"><SocialContact /></div>
    </div>
    <div class="w-full">
      <img
        src="/assets/avatar.png"
        alt="Thang Nguyen"
        class="border-primary shadow-primary-glow h-full w-full rounded-lg border-4 object-cover"
      />
    </div>
  </div>
</Layout>
