<div>
  <button
    id="scroll-to-top"
    class="bg-primary hover:bg-primary-dark focus:ring-primary fixed right-4 bottom-4 z-50 hidden cursor-pointer rounded-full p-3 text-white transition-opacity transition-transform duration-300 hover:-translate-y-2 focus:ring-2 focus:ring-offset-2 focus:outline-none"
    aria-label="Scroll to top"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="h-5 w-5"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
  </button>

  <script>
    const scrollToTopBtn = document.getElementById("scroll-to-top");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 500) {
        scrollToTopBtn?.classList.remove("hidden");
      } else {
        scrollToTopBtn?.classList.add("hidden");
      }
    });

    scrollToTopBtn?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>
</div>
