---
import { SITE_TITLE } from "../consts";
import LinkButton from "./LinkButton.astro";
import IconMoon from "@/assets/IconMoon.svg";
import IconSearch from "@/assets/IconSearch.svg";
import IconMenu from "@/assets/IconMenu.svg";
import IconRightArrow from "@/assets/IconRightArrow.svg";
import IconSun from "@/assets/IconSun.svg";
const { pathname } = Astro.url;

// Remove trailing slash from current pathname if exists
const currentPath = pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};
---

<header class="bg-background m-0 h-auto w-full text-center shadow-black dark:shadow-white">
  <nav class="mx-auto my-0 flex h-18 w-[100%] items-center justify-between px-4 md:w-[50%]">
    <div class="flex items-center">
      <h5 class="italic"><a class="text-primary-text" href="/">{SITE_TITLE}</a></h5>
      <ul
        class:list={[
          "ml-15 items-center justify-center gap-2 sm:flex",
          "[&>li>a]:text-primary-text [&>li>a]:hover:text-primary",
          "hidden",
        ]}
      >
        <li><a href="/" class:list={{ "active-nav": isActive("/") }}>Home</a></li>
        <li><a href="/blogs" class:list={{ "active-nav": isActive("/blogs") }}>Blogs</a></li>
        <li><a href="/about" class:list={{ "active-nav": isActive("/about") }}>About</a></li>
      </ul>
    </div>
    <div class="hidden items-center gap-2 sm:flex">
      <LinkButton href="/search" class="mt-2" id="btn-search"><IconSearch /></LinkButton>
      <button
        class="focus-outline hover:text-primary relative mt-1 size-12 transform cursor-pointer rounded-full p-2 hover:rotate-[15deg]"
        id="btn-theme"
        aria-label="auto"
        aria-live="polite"
        ><IconMoon
          class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90"
        /><IconSun
          class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 transition-all dark:scale-100 dark:rotate-0"
        /></button
      >
    </div>
    <div class="block sm:hidden">
      <button class="text-primary-text" id="menu-btn"><IconMenu /></button>
    </div>
  </nav>
  <div
    class="bg-background fixed top-0 right-0 z-50 block hidden h-screen w-[70%] translate-x-full transform p-4 shadow-lg transition-transform duration-300 ease-in-out"
    id="nav-menu"
  >
    <div class="bg-background absolute top-[50%] left-[-16px] h-8 w-8 rounded-full p-1 shadow-md">
      <button id="close-menu"><IconRightArrow /></button>
    </div>
    <h5 class="italic"><a class="text-primary-text" href="/">{SITE_TITLE}</a></h5>
    <hr />
    <ul
      class:list={[
        "flex flex-col items-center justify-center gap-2",
        "[&>li>a]:text-primary-text [&>li>a]:hover:text-primary",
      ]}
    >
      <li><a href="/" class:list={{ "active-nav": isActive("/") }}>Home</a></li>
      <li><a href="/blogs" class:list={{ "active-nav": isActive("/blogs") }}>Blogs</a></li>
      <li><a href="/about" class:list={{ "active-nav": isActive("/about") }}>About</a></li>
    </ul>
    <div class="relative mx-auto my-0 flex w-[50%] items-center justify-between gap-2">
      <LinkButton href="/search" class="mt-2" id="btn-search"><IconSearch /></LinkButton>
      <button
        class="focus-outline hover:text-primary relative mt-1 cursor-pointer rounded-full p-2"
        id="btn-theme-mobile"
        aria-label="auto"
        aria-live="polite"
        ><IconMoon
          class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90"
        /><IconSun
          class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 transition-all dark:scale-100 dark:rotate-0"
        /></button
      >
    </div>
  </div>

  <div
    id="menu-backdrop"
    class="fixed inset-0 z-30 hidden bg-black/40 backdrop-blur-sm transition-opacity"
  >
  </div>
</header>

<script>
  function toggleNav() {
    const navMenu = document.querySelector("#nav-menu");
    const backdrop = document.querySelector("#menu-backdrop");
    document.querySelector("#menu-btn")?.addEventListener("click", () => {
      navMenu?.classList.remove("hidden");
      backdrop?.classList.remove("hidden");
      navMenu?.classList.remove("translate-x-full");
    });
    document.querySelector("#close-menu")?.addEventListener("click", () => {
      navMenu?.classList.add("hidden");
      backdrop?.classList.add("hidden");
      navMenu?.classList.add("translate-x-full");
    });
    backdrop?.addEventListener("click", () => {
      navMenu?.classList.add("hidden");
      backdrop?.classList.add("hidden");
      navMenu?.classList.add("translate-x-full");
    });
  }

  toggleNav();

  document.addEventListener("astro:after-swap", toggleNav);
</script>
