---
import { SOCIALS } from "@/constants";

export interface Props {
  background?: boolean;
}

const { background = false } = Astro.props;
---

<div
  class:list={[
    "visible flex items-center opacity-100 transition-all delay-[400ms] duration-[2500ms] ease-[cubic-bezier(0.5,0,0,1)]",
    background ? "gap-4" : "gap-1",
  ]}
>
  {
    SOCIALS.map(item => {
      return (
        <a
          class:list={[
            "text-primary-text text-primary-text cursor-pointer p-2 text-center text-[1.5rem] transition-transform duration-300",
            background
              ? "bg-primary text-white hover:-translate-y-1"
              : "hover:text-primary hover:rotate-[15deg]",
          ]}
          style={
            background
              ? "clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)"
              : ""
          }
          href={item.link}
          target="_blank"
        >
          <item.icon />
        </a>
      );
    })
  }
</div>
